@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Semi Bold'), local('Montserrat-Semi-Bold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

/*html{}*/
body{
	font-family: 'Montserrat', sans-serif;
	color: #010111;
	position: relative;
	min-width: 320px;
	background: #fff url(../img/body_bg.png) 0 80vh repeat-y;
	background-size: 100% auto;
}
body.modal-open{padding-right: 17px;}
.my_container{
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
header{
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column;
	background: url(../img/header_bg.jpg) center 0 no-repeat;
	background-size: cover;
}
header .my_container:first-child{
	padding: 12px 15px 30px;
}
header .my_container:last-child{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.foot__menu,
.menu{
	white-space: nowrap;
}
.foot__menu a,
.menu a{
	display: inline-block;
	margin-right: 30px;
	color: #010111;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.3s;
}
.rules__link:hover,
.foot__menu a:hover,
.menu a:hover,
.email_top:hover{
	color: #00C6FB;
}
.foot__menu a{
	margin-right: 0;
	margin-left: 30px;
}
.email_top{
	color: #010111;
	display: inline-block;
	margin: 0 30px 0 auto;
	text-decoration: none!important;
	transition: color 0.3s;
}
.burger_menu{
	display: block;
	background: #fff;
	width: 40px;
	min-width: 40px;
	height: 40px;
	min-height: 40px;
	border-radius: 50%;
	position: relative;
	color: #00C6FB;
	transition: all 0.3s;
}
.burger_menu:hover{
/*	box-shadow: 0 0 7px 0px rgb(0 0 0 / 26%);
	opacity: 0.95;*/
	background: #00C6FB;
	color: #fff;
	box-shadow: 0px 0px 15px 1px #00a9f6;
}
.burger_menu span{
	display: block;
	width: 16px;
	height: 2px;
	background: currentColor;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger_menu span::after,
.burger_menu span::before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: currentColor;
	left: 0;
}
.burger_menu span::after{
	bottom: -6px;
	top: auto;
}
.burger_menu span::before{
	top: -6px;
}

.hero{
	display: block;
	flex-grow: 1;
	height: 100%;
	min-height: 100%;
	padding: 0px 0 210px 0;
	position: relative;
}
.hero_desc{
	position: relative;
	left: -70px;
	width: calc(100% + 70px);
	padding: 50px 0 0 70px;
	background:
		url(../img/nots_left.png) 0 0 no-repeat,
		url(../img/nots_right.png) 580px 100% no-repeat;
}
.hero__head{
	font-size: 96px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 45px;
	padding-left: 7px;
}
.hero__text{
	font-size: 20px;
	font-weight: 500;
	max-width: 680px;
}
.hero__text p{
	margin-bottom: 10px;
}
.wr_kino {
	width: 100%;
}
.kino-hero{
	text-transform: uppercase;
	max-width: 550px;
}
.kino-hero__head,
.kino-hero__text{
	font-weight: 600;
	max-width: 310px;
}
.kino-hero__head{
	margin-bottom: 10px;
}
.kino-hero__text{
	font-size: 24px;
	line-height: 32px;
}
.kino-hero__btn{
	position: relative;
	color: #fff;
	text-align: center;
	text-decoration: none!important;
	margin: 34px 54px;
	cursor: default;
}

.kino-hero__btn .item{
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 20px;
	border-radius: 50%;
	width: 144px;
	min-width: 144px;
	height: 144px;
	min-height: 144px;
	background: linear-gradient(225deg, #00C6FB 0%, #005BEA 100%);
	/*box-shadow: inset 0px 0px 30px 2px #00a9f6;*/
	position: relative;
	z-index: 2;
	cursor: pointer;
	transform: scale(1);
	box-shadow: 0px 0px 30px 5px #00a9f6;
	/*transition: box-shadow linear 0.3s;*/
}
/*.kino-hero__btn .item:hover{
	background: linear-gradient(205deg, #00C6FB 0%, #005BEA 100%);
	transform: scale(1.01);
	background: linear-gradient(215deg, #005BEA 0%, #00C6FB 100%);
}*/
.kino-hero__btn span{
	display: block;
	margin: 7px 0 0;
}
.kino-hero__btn .item ~ .btn_circle{
	display: block;
	margin: 0;
	position: absolute;
	z-index: 0;
	opacity: 1;
}
.kino-hero__btn .item ~ .btn_circle{
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	border-radius: 50%;
	border: 1px solid #00C6FB;
	opacity: 0;
	/*transition: transform linear 0.3s;*/
	animation: pulse_circle 1.8s linear infinite;
}
.kino-hero__btn .item span{
	animation: play_text 1.2s linear infinite;
}
.kino-hero__btn .item ~ .btn_circle:nth-child(2){animation-delay: .5s;}
/*.kino-hero__btn .item:hover ~ .btn_circle{animation: pulse_circle 1.8s linear infinite;}*/
/*.kino-hero__btn .item:hover ~ .btn_circle:nth-child(1){animation-delay: .1s;}*/
/*.kino-hero__btn .item:hover ~ .btn_circle:nth-child(3){animation-delay: 0.8s;}*/
.kino-hero__btn .item svg{
	animation: play_ico 1.2s linear infinite;
}
.kino-hero__btn .item:hover span,
.kino-hero__btn .item:hover svg,
.kino-hero__btn .item:hover ~ .btn_circle{
	animation-play-state: paused;
}

@keyframes pulse_circle {
 0% {
  transform: scale(0.8);
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  transform: scale(1.5);
  opacity: 0;
 }
}
@keyframes play_ico {
 0%, 100% {
  transform: scale(0.85);
 }
 50% {
  transform: scale(1.15);
 }
}
@keyframes play_text {
 0%, 100% {
  transform: scaleX(0.98);
 }
 50% {
  transform: scaleX(1.02);
 }
}
.btn_details{
	width: 190px;
	height: 150px;
	position: absolute;
	top: auto;
	bottom: -15px;
	left: -15px;
	z-index: 2;
}
.btn_details .item{
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	transform: translateX(-50%);
	width: 125px;
	height: 105px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}


.btn_details .item p{
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.05em;
	color: #005BEA;
	background: linear-gradient(#00C6FB, #005BEA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 20px 0 13px;
}
.btn_details .item span:nth-child(2){
	animation: btn_details_arr 1.2s ease-in infinite;
}
.btn_details .item span:nth-child(n + 3){
	animation: pulse_details 1.2s ease-out infinite;
}
/*.btn_details .item span:nth-child(2){animation-delay: .5s;}*/
.btn_details .item span:nth-child(3){animation-delay: .25s;}
.btn_details .item span:nth-child(4){animation-delay: 0.5s;}
.btn_details .item span{
	display: block;
	line-height: 1;
	height: 12px;
	opacity: 0;
	position: relative;
	color: #005BEA;
}
.btn_details .item:hover span{
	animation-play-state: paused;
}

.btn_details .item span:nth-child(3){top: -14px;}
.btn_details .item span:nth-child(4){top: -26px;}
.btn_details .item span:nth-child(5){top: -38px;}
.btn_details .item span:nth-child(2){
	height: 17px;
	opacity: 1;
	color: #005BEA;
}
@keyframes pulse_details {
 0% {
  transform: translateY(0);
  opacity: 0;
 }
 50% {
  opacity: 1;
  color: #00C6FB;
 }
 100% {
  transform: translateY(50px);
  opacity: 0;
 }
}
@keyframes btn_details_arr {
	0%, 100% {
		color: #00C6FB;
	 transform: translateY(0) scaleY(1);
	 /*transform: scale(0.85);*/
	}
	50% {
		color: #005BEA;
	 transform: translateY(5px) scaleY(1.2);
	 /*transform: scale(1.15);*/
	}
}
.hero__quote{
	top: 50px;
	padding: 30px;
	max-width: 540px;
	position: relative;
	z-index: 2;
	border-radius: 6px;
	overflow: hidden;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #3D97FF 0%, #2A6DFD 108.33%);
	box-shadow: 0px 12px 40px rgba(0, 91, 234, 0.15);
}
.hero__quote::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 6px;
	background: linear-gradient(180deg, #00C6FB 0%, #005BEA 100%);
}

.menu_move.active{
	transform: translateY(0);
	/*opacity: 1;*/
	/*visibility: visible;*/
}
.menu_move{
	position: fixed;
	z-index: 90;
	top: 0;
	left: 0;
	padding: 30px 0;
	display: flex;
	align-items: center;
	/*opacity: 0;*/
	/*visibility: hidden;*/
	transform: translateY(-115%);
	/* padding-bottom: 40px; */
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	background: #fff url(../img/menu_move_bg.jpg) 0 0 no-repeat;
	background-size: cover;
	transition: transform ease-in-out 0.5s;
}
.menu_move .my_container{
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.menu_move__top{
	padding-top: 20px;
	padding-bottom: 80px;
}
.menu_move__title{
	font-weight: 300;
	font-size: 18px;
}
.btn_close{
	display: block;
	margin-left: auto;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: url(../img/btn_close.svg) 0 0 no-repeat;
	background-size: 100% auto;
}
.btn_close:hover{
	filter: drop-shadow(0 0 8px rgba(0, 190, 250, 0.56));
}
.menu_move__item{
	display: block;
	font-size: 50px;
	line-height: 1;
	color: #010111;
	margin-bottom: 50px;
	text-decoration: none!important;
	white-space: nowrap;
	position: relative;
	padding-left: 0;
	transition: all ease-in-out 0.3s;
}
.menu_move__item:hover{
	padding-left: 40px;
	color: #005BEA;
	background: linear-gradient(#00C6FB, #005BEA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.menu_move__item:hover::before{
	width: 26px;
}
.menu_move__item::before{
	content: '';
	display: block;
	width: 0;
	height: 24px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/menu_move_arrow.svg) 0 0 no-repeat;
	transition: width ease-in-out 0.3s;
}
.menu_move .btn{
	margin-bottom: 50px;
}
.btn:focus,
.btn:active{
	box-shadow: none;
	outline: none;
	color: currentColor;
}
.btn{
	font-weight: 700;
	font-size: 18px;
	position: relative;
	padding: 18px 25px;
	line-height: 1;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF!important;
	text-shadow: 0px 1px 3px rgba(0, 45, 106, 0.25);
	background: #005BEA linear-gradient(268.67deg, #00C6FB 0%, #005BEA 100%);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border: none;
	border-radius: 6px;
}
.btn:hover{
	color: #fff;
	opacity: 0.8;
}
.btn::before{
	position: absolute;
	display: block;
	content: '';
	top: 10px;
	left: -10px;
	width: calc(100% + 20px);
	height: 100%;
	background: #005BEA linear-gradient(267.23deg, #00C6FB 0%, #005BEA 100%);
	opacity: 0.4;
	filter: blur(40px);
	border-radius: 6px;
	z-index: 1;
}
.btn > *{
	position: relative;
	z-index: 2;
}
.social_ico{
	position: relative;
	padding: 40px 0 0 0;
	white-space: nowrap;
	text-align: right;
}
.social_ico::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: linear-gradient(270deg, #00C6FB -7.5%, #005BEA 100%);
}
.social_ico a{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #fff;
	color: #00C6FB;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	box-shadow: 0px 6px 30px 5px rgba(0, 91, 234, 0.15);
	transition: all 0.3s;
}
.social_ico a:hover{
	background: #00C6FB;
	color: #fff;
	box-shadow: 0px 0px 15px 1px #00a9f6;
}
.social_ico a:not(:first-child){
	margin-left: 20px;
}
.social_ico a svg{
	max-width: 25px;
	max-height: 25px;
	width: 20px;
	display: inline-block;
}
.speaker{
	padding: 100px 0 80px;
}
.speaker{overflow: hidden;}
.speaker .head{margin-bottom: 60px;}
.speaker__text{
	font-size: 18px;
	line-height: 28px;
}
.speaker__text p:not(:last-child){
	margin-bottom: 26px;
}
.speaker__img{
	display: block;
	margin: 0 auto;
}
.head{
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #718198;
	position: relative;
	padding-left: 26px;
}
.head::before{
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: currentColor;
}

.details_hero{
/*	background: url(../img/details_block_bg.jpg) 0 0 no-repeat;
	background-size: cover;*/
    margin: 100px 0 0;
}
.my_accordion{
	position: relative;
	padding: 40px 0;
}
.my_accordion__item{
	/*position: relative;*/
}
.my_accordion__btn{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	padding: 20px;
	display: block;
	width: 100%;
	max-width: 320px;
	margin-bottom: 20px;
	position: relative;
	text-decoration: none!important;
	color: inherit;
	overflow: hidden;
	border-radius: 6px;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #3D97FF 0%, #2A6DFD 108.33%);
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(0, 91, 234, 0.15);
	transition: all linear 0.3s;
}
.my_accordion__item.active .my_accordion__btn,
.my_accordion__btn:hover{
	color: #005BEA;
	background: #fff linear-gradient(#00C6FB, #005BEA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.my_accordion__item.active .my_accordion__btn{
	transform: translateX(30px);
	padding-left: 30px;
}
.my_accordion__btn::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 6px;
	background: transparent;
}
.my_accordion__item.active .my_accordion__btn::after{
	background: linear-gradient(180deg, #00C6FB 0%, #005BEA 100%);
}

.my_accordion__info{
	position: absolute;
	top: 40px;
	right: 0;
	width: calc(100% - 410px);
	opacity: 0;
}
.my_accordion__item.active .my_accordion__info{
	opacity: 1;
}
.my_accordion__head{
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 25px;
}
.my_accordion__text{
	font-size: 18px;
	line-height: 28px;
	opacity: 0.85;
}
.achieve{
	padding-bottom: 30px;
}
.achieve .head{
	margin-bottom: 45px;
}
.achieve__head{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}
.achieve__img{
	width: 70px;
	min-width: 70px;
	height: 70px;
	min-height: 70px;
	line-height: 68px;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #3D97FF 0%, #2A6DFD 100%);
	box-shadow: 0px 6px 30px 5px rgba(0, 91, 234, 0.15);
	border-radius: 6px;
	margin-right: 20px;
	text-align: center;
}
.achieve__img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
.achieve__head span{
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.achieve__text{
	font-size: 14px;
	line-height: 22px;
	opacity: 0.85;
	margin-bottom: 30px;
}
.format_work{
	position: relative;
	overflow: hidden;
}
.format_work .my_container > .row{
	/*position: relative;*/
}
.format_work .row > [class*=col]{
	padding-bottom: 30px;
}
.format_work__img{
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
	top: auto;
	bottom: 0;
}
.format_work__img.img1{
	left: 0;
}
.format_work__img.img2{
	left: auto;
	right: 0;
}
.format_work__img.img3{
	position: static;
	margin-left: auto;
	margin-right: auto;
}

.format_work .head{
	margin-bottom: 45px;
}
.format_work__block{
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #3D97FF 0%, #2A6DFD 108.33%);
	box-shadow: 0px 12px 40px rgba(0, 91, 234, 0.15);
	border-radius: 6px;
	padding: 50px;
	min-height: 100%;
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
}
.format_work__title{
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 20px;
}
.format_work__text{
	font-size: 16px;
	line-height: 24px;
	opacity: 0.85;
}
.format_work .btn{
	position: relative;
	z-index: 2;
}

/*.first_carousel_mobile{display: none!important;}*/
.first_carousel .wr_img > img{
	display: block;
	margin: 10px auto;
}
.first_carousel .wr_img{
	position: relative;
}
.first_carousel .wr_img:hover > .first_carousel__info{
	opacity: 1;
	visibility: visible;
}
.first_carousel__info{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 6px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
}
.first_carousel__info > *{
	position: relative;
	z-index: 2;
}
.first_carousel__info::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-weight: 700;
	z-index: 1;
	letter-spacing: 0.1em;
	background: linear-gradient(216.11deg, #00C6FB 0%, #005BEA 100%);
	opacity: 0.75;
}
.first_carousel__info a{
	text-decoration: none!important;
	color: #fff;
}
.first_carousel__info a:hover{
	color: #ccc;
}
.first_carousel__info svg{
	display: inline-block;
	width: 80px;
	height: 96px;
	margin-bottom: 10px;
}
.first_carousel__info h3{
	text-transform: uppercase;
	font-size: 30px;
}
.first_carousel__info p{
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 0;
}
.first_carousel__info h4{
	font-size: 30px;
	margin: 10px 0;
}
.first_carousel__info span{
	font-size: 18px;
	display: inline-block;
	margin-bottom: 30px;
}
.first_carousel .wr_img{
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
}
.first_carousel .wr_img > img{
	border-radius: 6px;
	/* display: block; */
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	top: calc(50% - 20px);
	left: 30px;
	display: block;
	box-shadow: 0px 6px 30px 5px rgba(0, 91, 234, 0.2);
	border-radius: 6px;
	width: 56px;
	height: 56px;
	background: #fff;
	outline: none;
	opacity: 0.5;
}
.owl-carousel .owl-nav button.owl-next{
	left: auto;
	right: 30px;
	transform: rotateY(180deg);
}
.owl-carousel .owl-nav button:hover{opacity: 1;}
.reviews_carousel.owl-carousel .owl-stage{
	padding: 10px 0 34px;
}
.reviews{padding-top: 50px;}
.reviews .head{margin-bottom: 50px;}
.reviews__avatar{
	max-width: 60px;
	height: auto;
	border-radius: 50%;
	display: block;
	margin-right: 15px;
}

.reviews__user p{
	line-height: 1;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 3px;
}

.reviews__user span{
	font-size: 14px;
}
.reviews__desc{
	position: relative;
	background: #fff;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 0px 6px 30px 5px rgba(0, 91, 234, 0.15);
	overflow: hidden;
	margin-top: 30px;
}

.reviews__desc > div{
	position: absolute;
	top: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
}
.reviews__desc:hover > div{
	opacity: 1;
	visibility: visible;
}
.reviews__desc > div::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(216.11deg, #00C6FB 0%, #005BEA 100%);
	opacity: 0.75;
	z-index: 1;
}
.reviews__desc > div > *{z-index: 2;}
.reviews__desc > div svg{
	color: #fff;
}
.prize_carousel.owl-carousel .owl-nav button.owl-next,
.prize_carousel.owl-carousel .owl-nav button.owl-prev,
.reviews_carousel.owl-carousel .owl-nav button.owl-next,
.reviews_carousel.owl-carousel .owl-nav button.owl-prev{
	top: -96px;
	left: auto;
	right: 110px;
}
.prize_carousel.owl-carousel .owl-nav button.owl-next,
.reviews_carousel.owl-carousel .owl-nav button.owl-next{
	right: 30px;
}
.tours{
	position: relative;
	padding: 255px 0 145px;
	overflow: hidden;
	background: #fff;
}
.tours .my_container{
	position: relative;
	z-index: 2;
}
.tours .head{margin-bottom: 50px;}
.tours__bg{
	position: absolute;
	left: auto;
	right: 0;
	bottom: 0;
	z-index: 1;
	max-width: 100%;
}
.tours__text{
	opacity: 0.85;
	font-size: 18px;
}
.tours__price{
	margin: 30px 0 35px;
	text-transform: uppercase;
}
.tours__autor{
	position: relative;
	padding: 30px 110px 30px 30px;
	background: #fff;
	margin-left: 100px;
	width: 326px;
	box-shadow: 0px 12px 40px rgba(0, 91, 234, 0.15);
	border-radius: 6px;
}

.tours__autor p{
	font-weight: 600;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 15px;
	position: relative;
	z-index: 2;
}

.tours__autor span{
	font-size: 16px;
	position: relative;
	z-index: 2;
}

.tours__autor img{
	position: absolute;
	bottom: 0;
	right: -95px;
	left: auto;
	z-index: 1;
}
.cinema{
	padding: 220px 0 0 0;
	position: relative;
	background: #fff;
	overflow: hidden;
}
.cinema .my_container{
	position: relative;
    z-index: 2;
}
.cinema .head{margin-bottom: 50px;}
.cinema__bg{
	position: absolute;
	top: 155px;
	left: auto;
	right: calc(50% - 250px);
	z-index: 1;
	max-width: 75%;
}
.cinema__review{
	margin: 40px 0 0;
	user-select: none;
	position: relative;
}
.cinema__review::before,
.cinema__review::after{
	content: '';
	display: block;
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 10%;
	z-index: 2;
}
.cinema__review::before{
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
}
.cinema__review::after{
	left: auto;
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
}
.cinema__review.owl-carousel .owl-stage-outer{
	padding-bottom: 45px;
	padding-top: 30px;
}
.cinema__review .item{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background: #fff;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0px 12px 40px rgb(0 91 234 / 15%);
}
.cinema__review img{
	border-radius: 50%;
	width: 40px;
	max-width: 40px;
	height: 40px;
	max-height: 40px;
}
.cinema__review__info{
	padding-left: 15px;
}
.cinema__review p{margin: 0;}
.cinema__review__name{
	font-size: 13px;
	font-weight: 600;
}
.cinema__review__time{
	font-size: 12px;
	opacity: 0.85;
}
.cinema__review__text{
	padding-top: 5px;
	font-size: 13px;
}

.prize_carousel .item{
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(0, 91, 234, 0.15);
	border-radius: 6px;
	padding: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 470px;
}
.prize_carousel.owl-carousel .owl-stage-outer{
	padding: 50px 0 50px;
}
.partners{
	position: relative;
	z-index: 3;
	background: linear-gradient(to bottom, #fcfdfe, #fff);
}
.partners__item{
	display: inline-block;
	margin: 45px 45px 45px 0;
}
.partners__item:nth-child(n+6){
	margin: 45px auto;
}
.contacts{
	padding: 200px 0 150px;
	position: relative;
	background-color: #fff;
	/*background: url(../img/contacts__bg.jpg) 100% 100% no-repeat;*/
}
.contacts__bg{
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	z-index: 1;
	max-width: 100%;
}
.contacts .my_container{
	position: relative;
	z-index: 2;
}
.contacts .head{
	margin-bottom: 50px;
}
.contacts__number{
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 25px 0;
}
.contacts__email{
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 35px 0;
}
.contacts__title{
	font-weight: 600;
	font-size: 54px;
	line-height: 66px;
	color: #718198;
	margin-top: 50px;
}
.contacts .social_ico::before{
	display: none;
}
.contacts .social_ico{
	text-align: left;
	padding: 0;
}
footer{
	padding: 20px 0;
}
.foot{
	padding: 0 0 15px;
}
.foot__title{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
.copyright{
	font-size: 14px;
	line-height: 17px;
	opacity: 0.85;
}
.rules__link{
	display: inline-block;
	font-size: 14px;
	line-height: 17px;
	text-decoration-line: underline;
	color: #010111;
	transition: color linear 0.3s;
}
footer .rules__link{margin-left: 30px;}

.modal-dialog{
	max-width: 490px;
}
.modal-content{
	background: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(72, 145, 248, 0.2);
	border-radius: 6px;
	padding: 60px;
}
.modal-content .close{
	position: absolute;
	display: block;
	left:  auto;
	right: 20px;
	top: 15px;
	opacity: 0.8;
}
.modal-content .close:hover{
	opacity: 1!important;
}
.modal-head{
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
}
.modal-title{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #718198;
	opacity: 0.85;
	margin: 15px 0 30px;
}
.modal-content input{
	border: 2px solid #B7C7DE;
	border-radius: 6px;
	height: 60px;
	font-size: 18px;
	line-height: 22px;
	color: #010111;
	margin-bottom: 20px;
	padding: 0 20px;
}
.modal-content .btn{
	height: 60px;
	line-height: 62px;
	display: block;
	width: 100%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.agrements{
	padding: 0px 0 0 35px;
	background: url(../img/checkbox.svg) 0 0 no-repeat;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
}
.btn_scrollTop{
	position: fixed;
	top: auto;
	left: auto;
	bottom: 80px;
	right: 80px;
	display: block;
	width: 80px;
	height: 80px;
	background: #fff;
	box-shadow: 0px 6px 30px 5px rgba(72, 145, 248, 0.2);
	border-radius: 6px;
	z-index: 50;
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}
.btn_scrollTop.active{
	visibility: visible;
	opacity: 0.4;
}
.btn_scrollTop.active:hover{
	opacity: 1;
}
.btn_scrollTop span{
	transform: rotate(90deg);
	display: inline-block;
	margin: auto;
}
.btn_scrollTop svg{
	display: inline-block;
    height: 26px;
    width: auto;
}

@media (max-width: 1815px){
	.format_work__block{
		background: rgb(255 255 255 / 75%);
	}
}
@media (max-width: 1199px){
	.partners__item:nth-child(n+6){
		margin: 45px 45px 45px 0;
	}
	.format_work__block{
		background: #fff;
	}
}
@media (max-width: 991px){
	.btn_scrollTop{display: none;}
	body{background: #fff;}
	body.modal-open{padding-right: 0;}
	.contacts{padding: 30px 0 75%;}
	.contacts__bg{
		width: 100%;
		left: 0;
		right: 0;
	}
	.prize_carousel.owl-carousel .owl-stage-outer{
		padding: 30px 0 50px;
	}
	.prize_carousel .item{
		max-height: calc(100vh - 30px);
		max-width: calc(100vw - 30px);
		height: auto;
	}
	.prize_carousel.owl-carousel .owl-item img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		align-self: center;
		flex: 0 0 auto;
	}
	.cinema__review::before,
	.cinema__review::after{
		display: none;
	}
	.cinema__review .item{
		padding: 10px;
	}
	.cinema{padding: 30px 0 40px 0;}
	.cinema__bg {
    top: 155px;
    right: auto;
    left:0;
    max-width: 50%;
}
	.tours{padding: 40px 0 60px;}
	.tours__text{
		line-height: 22px;
		font-size: 14px;
	}
	.tours__autor{
		padding: 20px 60px 20px 20px;
		margin-left: 100px;
		width: 235px;
	}
	.tours__autor p{
		font-size: 16px;
		margin-bottom: 5px;
	}
	.tours__autor span{
		font-size: 12px;
		line-height: 18px;
	}

	.tours__autor img{
		right: -60px;
		height: auto;
		width: 150px;
	}
	.tours__bg{position: static;}
	.prize_carousel.owl-carousel .owl-nav button.owl-next,
	.prize_carousel.owl-carousel .owl-nav button.owl-prev,
	.reviews_carousel.owl-carousel .owl-nav button.owl-next,
	.reviews_carousel.owl-carousel .owl-nav button.owl-prev{
		top: -85px;
		left: auto;
		right: 65px;
	}
	.prize_carousel.owl-carousel .owl-nav button.owl-next,
	.reviews_carousel.owl-carousel .owl-nav button.owl-next{
		right: 15px;
	}
	.reviews__user p{font-size: 16px;}
	.reviews__user span{font-size: 12px;}
	.reviews__desc > div svg{max-width: 40px;}
	.reviews__avatar{
		max-width: 50px;
		margin-left: 10px;
	}
	.reviews__desc{
		margin-top: 10px;
	}
	.first_carousel__info svg{
		max-width: 40px;
		/*height: 96px;*/
	}
	.first_carousel__info h3{
		font-size: 24px;
	}
	.first_carousel__info p{
		font-size: 12px;
	}
	.first_carousel__info h4{
		font-size: 24px;
	}
	.first_carousel__info span{
		font-size: 14px;
	}
	.owl-carousel .owl-nav button svg{
		max-width: 16px;
	}
	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev{
		width: 40px;
		height: 40px;
		left: 15px;
	}
	.owl-carousel .owl-nav button.owl-next{left: auto;right: 15px;}
	.menu_move__item{
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 35px;
	}
	.menu_move .btn{
		margin-bottom: 35px;
	}
	.btn{
		font-size: 16px;
		padding: 14px 18px;
	}
	.my_accordion__info{
		position: static;
		top: auto;
		right: auto;
		width: 100%;
		opacity: 1;
	}
	.my_accordion__item.active .my_accordion__info{opacity: 1;}
	.my_accordion__btn{	max-width: 420px;}
	.my_accordion__item.active .my_accordion__btn{transform: translateX(0);}
	.my_accordion__head{
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 15px;
	}
	.my_accordion__text{
		font-size: 14px;
		line-height: 22px;
	}
}

@media (max-width: 767px){
/*	.first_carousel_mobile{display: block!important;}
	.first_carousel_desctop{display: none!important;}*/

	.first_carousel .item{
		padding: 10px 0;
		height: calc(100vh - 10px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.first_carousel .wr_img > img,
	.first_carousel .wr_img{
		margin: auto;
		max-height: calc(100vh - 30px);
		max-width: calc(100vw - 30px);
		width: auto;
		display: block;
		height: auto;
	}
	.first_carousel .wr_img > img{margin: 0;}
	.modal-content{
		padding: 35px 20px 15px 20px;
		background: #fff url(../img/modal__bg_m.jpg) 0 100% no-repeat;
	}
	.modal-title{
		margin: 5px 0 16px;
	}
	.modal-content input{
		height: 54px;
		font-size: 16px;
		margin-bottom: 15px;
		padding: 0 20px;
	}
	.modal-content .btn{
		height: 54px;
		line-height: 56px;
		margin-bottom: 15px;
	}
	body{
		font-size: 14px;
	}
	header{
		background: #fff url(../img/header_bg_m.jpg) 0 0 no-repeat;
		background-size: 100% auto;
	}
	header .my_container:first-child {
	    padding: 15px 15px 0;
	  }
	.hero__head{font-size: 40px;padding-left: 2px;margin-bottom: 25px;}
	.hero__text{font-size: 14px;}
	.hero__text p br{display: none;}
	.kino-hero {max-width: 767px;width: 100%;}
	.kino-hero__head{font-size: 12px;}
	.kino-hero__text{font-size: 16px;line-height: 1.5;}
	.hero{padding: 0;}
	.hero_desc{
		left: -15px;
		width: calc(100% + 30px);
		padding: 50px 15px 0 15px;
		background: url(../img/nots_left.png) 0 12px no-repeat,
   url(../img/nots_right.png) calc(100% - 12px) 100% no-repeat;
		background-size: 110px;
	}
	.hero__img_m{
		position: relative;
		width: calc(100% + 30px);
		left: -15px;
		height: auto;
		z-index: 1;
	}
	.hero__quote{
		max-width: 100%;
		padding: 20px 20px 20px 30px;
		top: 30px;
	}
	.kino-hero__btn{
	    margin: 20px 12px 20px 20px;
	}
	.kino-hero__btn .item{
		width: 110px;
		min-width: 110px;
		height: 110px;
		min-height: 110px;
		font-size: 12px;
		line-height: 1.3;
	}
	.kino-hero__btn .item svg{
		width: 18px;
		height: 20px;
	}
	.kino-hero__btn .item ~ .btn_circle{
		top: -8px;
		left: -8px;
		right: -8px;
		bottom: -8px;
	}
	.btn_details{
		bottom: -70px;
		left: 50%;
		transform: translateX(-50%);
	}
	.menu_move{
		background: #fff url(../img/menu_move_bg_m.jpg) 0 0 no-repeat;
		background-size: cover;
		padding-bottom: 25px;
	}
	.menu_move__top {
	    padding-top: 15px;
	    padding-bottom: 40px;
	}
	.menu_move .btn{
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
	.btn_close{
		width: 40px;
		height: 40px;
	}
	.menu_move__title{
		font-size: 14px;
	}
	.menu_move__item:hover{
		padding-left: 0;
	}
	.menu_move__item::before{
		display: none;
	}
	.menu_move .btn{
	    white-space: nowrap;
	    padding: 14px 12px;
	}
	.social_ico{
		text-align: center;
		padding: 17px 0 0 0;
	}
	.social_ico a:not(:first-child){
		margin-left: 17px;
	}
	.speaker__img{
		max-width: 100%;
		height: auto;
	}
	.speaker .head{margin-bottom: 28px;}
	.head{
		font-size: 24px;
		padding-left: 16px;
	}
	.head::before{
		top: 11px;
		width: 6px;
		height: 6px;
	}
	.speaker__text{
		font-size: 14px;
		line-height: 22px;
	}
	.speaker__text p:not(:last-child){
		margin-bottom: 20px;
	}
	.format_work .head{
		margin-bottom: 30px;
	}
	.format_work__block{
		padding: 20px;
	}
	.format_work__title{
		font-size: 24px;
		line-height: 29px;
	}
	.format_work__text{
		font-size: 14px;
		line-height: 22px;
	}
	.tours .my_container > .d-flex,
	.tours .my_container{position: static;}
	.tours__autor{
		position: absolute;
		top: auto;
		bottom: 15px;
		left: calc(50% - 140px);
		margin: 0;
		padding-right: 70px;
	}
	.tours__autor img{right: -50px;}
	.tours__bg {
	    position: static;
	    margin: 0 auto;
	    width: 100%;
	}
	.tours .btn{width: 100%;}
	.cinema .head,
	.tours .head{margin-bottom: 25px;font-size: 18px;}
	.cinema .head::before,
	.tours .head::before {top: 7px;}
	.cinema__bg {
        position: relative;
        top: 0;
        margin-top: 15px;
        right: auto;
        left: 15px;
        max-width: calc(100% + 80px);
        width: calc(100% + 80px);
	}
	.cinema__review{
		margin: -30px 0 0;
	}
	.cinema__review__name{
		font-size: 12px;
	}
	.cinema__review__time{
		font-size: 11px;
	}
	.cinema__review__text{
		font-size: 12px;
	}
	.prize .head{
		padding-right: 100px;
	}
	.partners__item{
		margin: 25px;
	}
	.partners__item img{
		max-width: 130px;
	}
	.contacts .head{
		margin-bottom: 20px;
	}
	.contacts__number{
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 15px 0;
	}
	.contacts__email{
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 20px 0;
	}
	.contacts__title{
		font-size: 32px;
		line-height: 40px;
		margin-top: 20px;
	}
	.foot__title{
		font-size: 14px;
		line-height: 22px;
	}
	.copyright{
		width: 100%;
		order: 2;
		padding-top: 20px;
		font-size: 12px;
		line-height: 15px;
	}
	.wr_link{
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.rules__link{
		font-size: 12px;
		line-height: 15px;
	}
	footer .rules__link{
		margin: 0;
		white-space: normal;
	}
	footer .rules__link:first-child{margin-right: 30px;}
}
@media (max-width: 375px){
	.contacts__title{
		font-size: 27px;
	}
	.partners__item{
		margin: 20px;
	}
	.partners__item img{
		max-width: 100px;
		height: auto;
	}
	.prize_carousel.owl-carousel .owl-nav button.owl-next,
	.prize_carousel.owl-carousel .owl-nav button.owl-prev{
		top: -105px;
	}
	.hero__head{
		font-size: 38px;
		padding-left: 0;
	}
	.menu_move__item{
		font-size: 24px;
	}
}
@media (max-width: 340px){
	.menu_move .btn{
		font-size: 14px;
	}
}